@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/silom');
body {
  font: 14px 'Noto Sans JP', 'Roboto Condensed', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  margin: 0;
  overflow: hidden;
}